<div class="d-flex justify-content-between" style="margin-bottom: 20px;">
  <h4>Chỉnh sửa giao dịch</h4>
  <button (click)="onClose()">Close</button>
</div>

<div class="container">
  <form #form="ngForm" (ngSubmit)="updateTransaction()" autocomplete="off">

    <div class="form-group row">
      <mat-form-field style="width: 50%;">
        <mat-label>Tên giao dịch</mat-label>
        <input matInput type="text" id="transname" placeholder="Ex: Mua cây pc" name="name" #name="ngModel"
          [(ngModel)]="transaction.trans_name">
      </mat-form-field>

      <mat-form-field style="width: 50%;">
        <mat-label>Danh mục</mat-label>
        <mat-select name="cate" [(value)]="transaction.category_id">
          <mat-option *ngFor="let c of cateList" value="{{c.id}}">{{c.categoryName}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-group row">
      <mat-form-field style="width: 50%;">
        <mat-label>Số tiền</mat-label>
        <input matInput type="number" id="amount" placeholder="Ex: 16000000" name="amount" #amount="ngModel"
          [(ngModel)]="transaction.amount">
      </mat-form-field>

      <mat-form-field style="width: 50%;">
        <mat-label>Ngày giao dịch</mat-label>
        <input matInput [matDatepicker]="picker" id="date" placeholder="Ex: 12/12/2020" name="date" #date="ngModel"
          [(ngModel)]="transaction.date" [max]="today" value="today" style="width: 550px;">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="form-group row">
      <mat-radio-group name="type" [(ngModel)]="transaction.trans_type">
        <mat-radio-button value="false">Thu</mat-radio-button>
        <mat-radio-button value="true">Chi</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="form-group row">
      <mat-form-field style="width: 100%;">
        <mat-label>Ghi chú</mat-label>
        <textarea matInput type="text" #note id="note" placeholder="Ex: Lắp thêm 1 ram 8gb +2tr" name="note" #note="ngModel"
          [(ngModel)]="transaction.note" maxlength="250"></textarea>
        <mat-hint align="end">{{note.value?.length || 0}}/250</mat-hint>
      </mat-form-field>
    </div>

    <br>
    <button type="submit" class="btn btn-outline-primary"> Cập nhật </button>
    <button style="margin-left: 20px;" type="reset" class="btn btn-outline-primary" (click)="onClose()"> Đóng </button>
  </form>

</div>
<!-- [disabled]="form.invalid" -->