<div class="d-flex justify-content-between">
  <h4>Xác nhận thông tin</h4>
  <button (click)="onClose()">Close</button>
</div>
<div class="container">
  <mat-error *ngIf="wrong">
    Người dùng không tồn tại!
  </mat-error>
  <form [formGroup]="form" (ngSubmit)="infoConfirm()" autocomplete="off">
    <!-- username -->
    <mat-form-field style="width: 100%;">
      <mat-label for=" ">Tên đăng nhập</mat-label>
      <input matInput type="text " name="user" [(ngModel)]="username" formControlName="regUser">
      <mat-error *ngIf="form.controls['regUser'].errors?.required">
        Tên đăng nhập cần được điền
      </mat-error>
      <mat-error *ngIf="form.controls['regUser'].errors?.minlength">
        Tên đăng nhập phải nhiều hơn 7 ký tự
      </mat-error>
      <mat-error *ngIf="form.controls['regUser'].errors?.maxlength">
        Tên đăng nhập phải ít hơn 31 ký tự
      </mat-error>
    </mat-form-field>

    <!--name-->
    <mat-form-field style="width: 100%;">
      <mat-label for=" ">Họ và tên</mat-label>
      <input matInput type="text" name="name" [(ngModel)]="fullname" formControlName="regName">
      <mat-error *ngIf="form.controls['regName'].errors?.required">
        Họ và tên cần được điền
      </mat-error>
      <mat-error *ngIf="form.controls['regName'].errors?.pattern">
        Họ và tên chỉ gồm chữ cái
      </mat-error>
      <mat-error *ngIf="form.controls['regName'].errors?.minlength">
        Họ và tên phải nhiều hơn 7 ký tự
      </mat-error>
      <mat-error *ngIf="form.controls['regName'].errors?.maxlength">
        Họ và tên phải ít hơn 101 ký tự
      </mat-error>
    </mat-form-field>

    <!-- tel -->
    <mat-form-field style="width: 100%;">
      <mat-label for=" ">Số điện thoại</mat-label>
      <input matInput type="text" name="tel" [(ngModel)]="phone" formControlName="regPhone">
      <mat-error *ngIf="form.controls['regPhone'].errors?.required">
        Số điện thoại cần được điền
      </mat-error>
      <mat-error *ngIf="form.controls['regPhone'].errors?.pattern">
        Số điện thoại gồm 10 chữ số bắt đầu bằng 0
      </mat-error>
    </mat-form-field>
    <br>
    <mat-radio-group name="sex" [(ngModel)]="sex" formControlName="regSex">
      <mat-radio-button style="margin-right: 8px;" value="true" required>Nam</mat-radio-button>
      <mat-radio-button value="false">Nữ</mat-radio-button>
    </mat-radio-group>
    <br>
    <br>
    <button type="submit" class="btn btn-outline-primary" [disabled]="form.invalid"> Xác nhận </button>
    <button style="margin-left: 20px;" type="reset" class="btn btn-outline-primary" (click)="onClose()"> Hủy </button>
  </form>
</div>