<h2 class="text-center" id="title">E-Wallet Mock Group 1</h2>
<hr>
<div class="row">

  <div class="col-md-1">
    <!-------null------>
  </div>

  <div class="col-md-4">
    <form #form1="ngForm" (ngSubmit)="signup()">
      <fieldset>
        <!-- <p class="text-uppercase pull-center"> ĐĂNG KÝ</p> -->
        <legend>ĐĂNG KÝ</legend>
        <div class="form-group">
          <mat-form-field style="width: 70%;">
            <mat-label>Tên đăng nhập</mat-label>
            <input matInput type="text" name="username" id="s-username" [(ngModel)]="user.user_name"
              placeholder="Ex: anhhtph07069" required>
          </mat-form-field>
          <br />
          <mat-form-field style="width: 70%;">
            <mat-label>Họ và tên</mat-label>
            <input matInput type="email" name="email" id="fullname" [(ngModel)]="user.name"
              placeholder="Ex: Hồ Tuấn Anh" required>
          </mat-form-field>
          <br />
          <mat-form-field style="width: 70%;">
            <mat-label>Số điện thoại</mat-label>
            <input matInput type="tel" name="password" id="phone" [(ngModel)]="user.phone_number"
              placeholder="Ex: 0969664516" required>
          </mat-form-field>
          <br />
          <mat-radio-group name="sex" [(ngModel)]="user.sex">
            <mat-radio-button style="margin-right: 8px;" value="true" required>Nam</mat-radio-button>
            <mat-radio-button value="false">Nữ</mat-radio-button>
          </mat-radio-group>
          <br />
          <mat-form-field style="width: 70%;">
            <mat-label>Mật khẩu</mat-label>
            <input matInput type="password" name="password2" id="s-pass" [(ngModel)]="user.password"
              placeholder="Ít nhất 6 ký tự, không có ký tự đặc biệt" required>
          </mat-form-field>
          <br />
          <mat-form-field style="width: 70%;">
            <mat-label>Nhập lại mật khẩu</mat-label>
            <input matInput type="password" name="password2" id="repass" [(ngModel)]="repass" required>
          </mat-form-field>
          <br />
          <input type="submit" class="btn btn-outline-primary" value=" Đăng ký" [disabled]="form1.invalid">
        </div>
      </fieldset>
    </form>
  </div>

  <div class="col-md-2">
    <!-------null------>
  </div>

  <div class="col-md-4">
    <form #form2="ngForm" (ngSubmit)="login()">
      <fieldset>
        <!-- <p class="text-uppercase pull-center"> ĐĂNG KÝ</p> -->
        <legend>ĐĂNG NHẬP</legend>
        <div class="form-group">
          <mat-form-field style="width: 70%;">
            <mat-label>Tên đăng nhập</mat-label>
            <input matInput type="text" name="username" id="l-username" placeholder="Ex: anhhtph07069" [(ngModel)]="username" required>
          </mat-form-field>
          <br />
          <mat-form-field style="width: 70%;">
            <mat-label>Mật khẩu</mat-label>
            <input matInput type="password" name="password2" id="l-pass" [(ngModel)]="pass" required>
          </mat-form-field>
          <br />
          <a id="qmk" (click)="forgetPassDialog()" style="cursor: pointer;">Quên mật khẩu?</a><br>
          <input type="submit" style="margin-top: 8px;" class="btn btn-outline-primary" value=" Đăng nhập" [disabled]="form2.invalid">
        </div>
      </fieldset>
    </form>
  </div>

  <div class="col-md-1">
    <!-------null------>
  </div>

</div>