<aside class="sidebar shadow-sm">

    <div class="sidebar-profile d-flex flex-column justify-content-center pt-5 pb-3">
        <div class="picture-wrapper mb-4">
            <div class="user-picture m-auto">
                <img src="./assets/img/user.jpg" class="img-fluid" alt="">
            </div>
        </div>
        <div class="profile-details text-center pb-4">
            <p class="mb-0 text-uppercase name">{{fullname}}</p>
            <small class="text-uppercase role">{{username}}</small>
        </div>
    </div>
    <div class="sidebar-search pt-1 pb-1 pl-3 pr-3">
        <input type="search" class="form-control rounded-pill" name="search" placeholder="Search ...">
    </div>
    <nav class="sidebar-menu pt-3 pb-3">
        <!-- <div class="menu-header mt-3 mb-2">
            Bảng Điều Khiển
        </div> -->
        <ul class="menu-items">
            <li>
                <a href="#" routerLink="/dashboard" routerLinkActive="active">
                    <i class="fa fa-tv"></i>
                    <span>Trang Chủ</span>
                    <span class="badge badge-warning rounded-0 text-dark p-1">NEW</span>
                </a>
            </li>
            <li>
                <a href="#" routerLink="/wallet" routerLinkActive="active">
                    <i class="fas fa-hand-holding-usd"></i>
                    <span>Quản Lý Ví</span>
                </a>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i
                        class="fa fa-dollar-sign"></i>
                    <span>Quản Lý Giao Dịch</span></a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li *ngFor="let w of walletList">
                        <a href="#" routerLink="/transaction/{{w.wallet_id}}" routerLinkActive="active">
                            <i class="fa fa-dollar-sign"></i><span>{{w.wallet_name}}</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#" routerLink="" routerLinkActive="active">
                    <i class="fas fa-table"></i>
                    <span>Quản Lý Danh Mục</span>
                </a>
            </li>

            <li>
                <a href="#" routerLink="/chart" routerLinkActive="active">
                    <i class="fas fa-chart-bar"></i>
                    <span>Thống Kê</span>
                </a>
            </li>

            <li>
                <a href="#" routerLink="/maps" routerLinkActive="active">
                    <i class="fa fa-globe"></i>
                    <span>Maps</span>
                </a>
            </li>

            <li>
                <a href="#" routerLink="/notifications" routerLinkActive="active">
                    <i class="fas fa-bell"></i>
                    <span>Notifications</span>
                </a>
            </li>
        </ul>
    </nav>
</aside>