<div class="row">
  <div class="col-12">
    <div class="card">
      <!-- .left-right-aside-column-->
      <div class="contact-page-aside">
        <!-- .left-aside-column-->

        <!-- /.left-aside-column-->
        <div class="right-aside">
          <div class="right-page-header">
            <div class="d-flex mr-4 ml-4">
              <div class="align-self-center">
                <input type="text" name="search" id="demo-input-search2" placeholder="&#xf002; Nhập tên ví"
                  class="form-control">
              </div>
              <div class="mr-auto" style="margin-left: 10px;">
                <!-- Nút tìm kiếm -->
                <br>
                <button type="button" class="btn btn-outline-primary">Tìm kiếm</button>
                <br>
                <br>
              </div>
            </div>
          </div>


          <div class="right-aside" style="margin-top: 10px;">
            <div class="right-page-header">
              <div class="d-flex mr-4 ml-4">
                <h5 style="margin-top: 5px;">DANH SÁCH VÍ</h5>
                <div class="ml-auto" style="margin-left: 10px;">
                  <!-- Nút thêm mới + xóa -->
                  <button type="button" class="btn btn-danger">Xóa</button>
                  <button style="margin-left: 10px;" type="button" class="btn btn-outline-primary"
                    (click)="addWalletDialog()">Thêm mới</button>
                </div>
              </div>
            </div>
          </div>

          <div class="right-aside" style="margin-top: 10px;">
            <div class="right-page-header">
              <div class="d-flex mr-4 ml-4">

                <!-- danh sách lưới ví -->
                <div class="row row-cols-1 row-cols-md-3">

                  <!-- 1 thẻ ví -->
                  <div *ngFor="let w of wallets" class="col mb-4">

                    <div class="card border-secondary mb-3" style="width: 16rem;">
                      <div class="card-header">
                        <input type="checkbox" [disabled]="w.role==false" />
                        <a href="" routerLink="/wallet/{{w.wallet_id}}"> {{w.wallet_name}}</a>
                        <button class="btn btn-sm btn-outline-lightning rounded-0 ml-4" [disabled]="w.role==false">
                          <i class="far fa-window-close"></i>
                        </button>
                      </div>
                      <div class="card-body text-secondary">
                        <h5 class="card-title">+{{w.currency | currency:' ':'code':'4.0-0'}}đ
                          <button class="btn btn-sm btn-outline-lightning rounded-0 mr-2" (click)="updateWalletDialog(w)"
                            [disabled]="w.role==false">
                            <i class="far fa-edit"></i>
                          </button>
                        </h5>
                        <p class="card-text">{{w.role ? "Sở hữu":"Thành viên"}}</p>
                      </div>
                    </div>
                  </div>

                </div>

              </div>
            </div>
          </div>


        </div>
        <!-- /.left-right-aside-column-->
      </div>
    </div>
  </div>
</div>