<div class="d-flex justify-content-between">
  <h4>Tạo ví mới</h4>
  <button (click)="onClose()">Close</button>
</div>

<div class="container">

  <form #form="ngForm" (ngSubmit)="addWallet()" autocomplete="off">

    <div class="form-group ">
      <mat-form-field style="width: 100%;">
        <mat-label for=" ">Tên ví</mat-label>
        <input matInput type="text" name="name" [(ngModel)]="wallet.wallet_name" #name="ngModel" required>
        <mat-error *ngIf="name.errors?.required">
          Tên ví cần được điền
        </mat-error>
      </mat-form-field>
    </div>

    <!--balance-->
    <div class="form-group ">
      <mat-form-field style="width: 100%;">
        <mat-label>Tiền khởi tạo</mat-label>
        <input matInput type="number" name="balance" [(ngModel)]="wallet.balance" #balance="ngModel"
        min="50000" max="500000000" required>
        <mat-error *ngIf="balance.errors?.required">
          Tiền khởi tạo cần được điền
        </mat-error>
        <mat-error *ngIf="balance.errors?.min">
          Tiền khởi tạo ít nhất 50,000đ
        </mat-error>
        <mat-error *ngIf="balance.errors?.max">
          Tiền khởi tạo nhiều nhất 500,000,000đ
        </mat-error>
        <input type="hidden" name="balance" [(ngModel)]="wallet.currency">
      </mat-form-field>
    </div>
    <br>
    <button type="submit" class="btn btn-outline-primary" [disabled]="form.invalid"> Tạo </button>
    <button style="margin-left: 20px;" type="reset" class="btn btn-outline-primary" (click)="onClose()"> Hủy </button>
  </form>

</div>